.employee-detail-container{
  padding-top: 51px;
}
.mat-card {
  margin: 0px auto 50px;
}
.detail_header{
  font-size: 25px;
  color: #000;
  text-transform: uppercase;
  font-weight: 300;
}
span{
  font-size: 24px;
  font-weight: 400;
  color: black;
}
